@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500&display=swap");

// fonts
$changa: "Changa", sans-serif;

// colors
$color--primary: #eb4d4b;
$color--secondary: #e83b38;

$color--bg-dark: #222222;
$color--bg-middle: #2c2c2c;
$color--bg-active: #4c4c4c;
$color--font: #e8e8e8;

// border
$border-radius: 0.3rem;

body {
  overflow-x: hidden;

  background-color: $color--bg-dark;
  color: $color--font;
  font-family: $changa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  width: 2.5rem;
  height: 2.5rem;

  border: none;
  border-radius: 2rem;
  background-color: $color--primary;
  box-shadow: 2px 2px 15px #0000005e;

  transition: all 0.2s;

  &:hover {
    background-color: $color--secondary;
  }
}

.icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.hidden {
  display: none;
}
